h1 {
  font-family: "Josefin Sans", sans-serif;
  color: white;
  font-size: 60px;
  position: absolute;
  text-shadow: 2px 2px 2px black;
  box-shadow: 2px 2px 2px black;
  top: 35%;
  right: 2%;
}

header img:hover {
  cursor: pointer;
}

.who-we-are img:hover {
  filter: grayscale(80%);
  cursor: pointer;
}

nav a {
  font-family: "Roboto", sans-serif;
}

p {
  font-family: "Work Sans", sans-serif;
  font-size: 22px;
}

.content-text {
  scroll-snap-type: x mandatory;
}

.assist-documents-applications-services {
  transform: translate(120px, 50%);
}

.citizenship-service {
  transform: scale(1, 0.5) translate(30%, -50%);
}

.law-representation {
  transform: scale(0.5) translate(100%, -500%);
}

.assist-victims-of-domestic-violence-service {
  transform: translate(100%, -190%);
}

.card {
  transform: translateY(-180%);
}
