h1 {
  font-family: "Josefin Sans", sans-serif;
  color: white;
  font-size: 60px;
  position: absolute;
  text-shadow: 2px 2px 2px black;
  box-shadow: 2px 2px 2px black;
  top: 35%;
  right: 2%;
}

nav a {
  font-family: "Roboto", sans-serif;
}

p {
  font-family: "Work Sans", sans-serif;
  font-size: 22px;
}
